<div >
    <div class="main col-md-3"><%= link_to "病気一覧", diseases_path, class:"btn btn-block btn-primary menu-btn" %></div>
    <div class="main col-md-3"><%= link_to "病気症状検索", disease_symptoms_path, class:"btn btn-block btn-primary menu-btn" %></div>
    <div class="main col-md-3"><%= link_to "問診一覧", "#", class:"btn btn-block btn-primary menu-btn" %></div>
    <div class="main col-md-3"><%= link_to "マスタ変更", "#", class:"btn btn-block btn-primary menu-btn" %></div>
</div>